[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
pymdown-extensions = "*"
mkdocs-include-markdown-plugin = "*"
mkdocs-material = "*"
mdx-truly-sane-lists = "*"
mkdocs-glightbox = "*"

[dev-packages]

[requires]
python_version = "3"
